In [11]:
import pandas as pd 
import numpy as np
from datetime import datetime

df= pd.read_csv('company.csv') 
df.dropna(inplace=True ) # Poum retire ranje ki vid yo
df.dropna(axis=1, inplace=True) # Poum retirer kolon ki manke vale 

#Poum chanje 'K' ki nan kolon salaire lan
def konveti_K(salary):
    if isinstance(salary, str) and salary.endswith('K'):
        return (salary[:-1]) + '000'
    return (salary)
df['salary'] = df['salary'].apply(konveti_K) 

#Poum ka retire vigil yo, et apres poum metel en tip float 
df['salary'] = df['salary'].str.replace(',','').astype(float)

#Poum retire tout years ki nan years_at_company an 
df['years_at_company'] = df['years_at_company'].str.replace('years','').astype(int) 

#Poum chanje tout Male en M, et tout female en F 
df['gender'] = df['gender'].replace({'Male':'M', 'Female':'F'})

#Poum change format date yo 
fomatdat = ['%d-%m-%Y', '%d-%b-%Y', '%Y-%m-%d', '%d-%m-%y', '%m/%d/%Y', '%d-%b-%y']
def konveti_dat(dat):
    for elem in fomatdat:
        try:
            return pd.to_datetime(dat, format=elem, dayfirst=True)
        except ValueError:
            continue
    return pd.NaT 
df['hired_date'] = df['hired_date'].apply(konveti_dat)

#Kesyon sou ANALIZ DEMOGRAFIK
#Repatisyon chak anplwaye nan chak depatman.
print(      '***ANALIZ DEMOGRAFIK***        ')
repdepatman = df['department'].value_counts()
print('Repatisyon pa Depatman:')
print(repdepatman)
print(     )

#Repatisyon pa sèks nan chak depatman.
repsex = df.groupby(['department', 'gender']).size().unstack(fill_value=0)
print('Repatisyon pa Seks:')
print(repsex)
print(     )

#Poum ka we kantite employe ki menm laj par departement. 
lajdep = df.groupby('department')['age'].value_counts()
print(lajdep)
print(     )

#Mwayèn laj anplwaye yo pou chak depatman.
moylaj = df.groupby('department')['age'].mean()
print('Mwayen Laj Pa Depatman:')
print(moylaj)
print(   )

print(      '***SALE***        ')
#Poum ka we kantite employe ki menm salaire par departement. 
totalsale = df.groupby('department')['salary'].value_counts()
print(totalsale)
print(     )

#Mwayèn salè nan chak depatman.
moysale = df.groupby('department')['salary'].mean()
print(moysale)
print(   )

# Satisfaksyon travay sou chak depatman.
totalsatisfaksyon= df.groupby('department')['job_satisfaction'].value_counts()
print(totalsatisfaksyon)
print(   )

print(      '*** PWOMOSYON AK EDIKASYON***        ')
#Mwen use fonction sa poum ka cherche intervall de temps ki genyen depi denye promotion an te fet lan.
def intevaltan(df):
    current_year = datetime.now().year
    df['years_since_last_promotion'] = current_year - df['last_promotion_year']
    return df 

#Mwayèn tan ki genyen depi dènye fwa konpayi a te bay yon pwomosyon nan chak depatman.
def moy_denye_promosyon(df):
    df = intevaltan(df)
    return df.groupby('department')['years_since_last_promotion'].mean()

#Poum rele fonksyon an
moyenne_tan = moy_denye_promosyon(df)
print(moyenne_tan)
print(     )

#Mwayèn salè ki ekziste an fonksyon de nivo edikasyon anplwaye yo (Bachelor, Master.
moySale = df.groupby('education_level')['salary'].mean()
print(moySale)
print(     )

df

***ANALIZ DEMOGRAFIK***
Repatisyon pa Depatman:
department
IT             10
Engineering     9
HR              9
Sales           8
Marketing       8
Name: count, dtype: int64

Repatisyon pa Seks:
gender       F  M
department
Engineering  3  6
HR           8  1
IT           4  6
Marketing    4  4
Sales        2  6

department   age
Engineering  33     3
             32     2
             34     2
             35     1
             29     1
HR           24     3
             28     3
             25     2
             23     1
IT           26     3
             25     2
             28     2
             27     2
             24     1
Marketing    40     3
             38     3
             34     1
             37     1
Sales        30     3
             29     3
             31     2
Name: count, dtype: int64

Mwayen Laj Pa Depatman:
department
Engineering    32.777778
HR             25.444444
IT             26.200000
Marketing      38.125000
Sales          29.875000
Name: age, dtype: float64

***SALE***
department   salary
Engineering  42000.0    2
             48000.0    2
             80.0       1
             95.0       1
             85000.0    1
             45000.0    1
             43000.0    1
HR           55000.0    2
             75000.0    2
             58000.0    1
             57000.0    1
             48000.0    1
             45000.0    1
             40000.0    1
IT           60000.0    2
             40000.0    2
             50000.0    1
             72000.0    1
             70000.0    1
             35000.0    1
             52.0       1
             48.0       1
Marketing    88000.0    1
             52000.0    1
             53000.0    1
             70000.0    1
             75000.0    1
             90000.0    1
             70.0       1
             50000.0    1
Sales        55000.0    2
             55.0       1
             57000.0    1
             60000.0    1
             78000.0    1
             80000.0    1
             82000.0    1
Name: count, dtype: int64

department
Engineering    39241.666667
HR             56444.444444
IT             42710.000000
Marketing      59758.750000
Sales          58381.875000
Name: salary, dtype: float64

department   job_satisfaction
Engineering  7                   5
             8                   3
             6                   1
HR           4                   3
             6                   3
             5                   2
             3                   1
IT           5                   7
             6                   2
             4                   1
Marketing    8                   4
             9                   3
             7                   1
Sales        6                   5
             7                   3
Name: count, dtype: int64

*** PWOMOSYON AK EDIKASYON***
department
Engineering    5.888889
HR             2.333333
IT             4.300000
Marketing      7.875000
Sales          4.625000
Name: years_since_last_promotion, dtype: float64

education_level
Bachelor    53632.375
Master      47311.150
Name: salary, dtype: float64

,employee_id,department,salary,years_at_company,age,job_satisfaction,performance_score,last_promotion_year,education_level,gender,hired_date,years_since_last_promotion
0,1,Sales,60000.0,5,30,7,85,2018,Bachelor,M,2015-06-15,6
1,2,Engineering,95.0,8,35,8,90,2017,Master,F,2012-09-01,7
2,3,HR,45000.0,2,28,6,70,2020,Bachelor,F,2019-04-23,4
3,4,Marketing,75000.0,10,40,9,95,2015,Master,M,2010-02-10,9
4,5,IT,50000.0,3,25,5,60,2011,Bachelor,M,2018-07-18,13
5,6,Engineering,85000.0,6,33,7,88,2019,Master,M,2016-10-03,5
6,7,Marketing,70.0,7,38,8,92,2016,Bachelor,F,2013-05-14,8
7,8,Sales,55.0,4,29,6,75,2021,Bachelor,M,2018-06-22,3
8,9,IT,48.0,2,26,5,62,2022,Master,F,2019-11-07,2
9,10,HR,40000.0,1,24,4,68,2023,Bachelor,F,2020-08-30,1
10,11,Engineering,80.0,5,32,7,85,2018,Master,M,2017-12-12,6
11,12,IT,52.0,3,27,5,60,2020,Bachelor,M,2018-04-19,4
12,13,Sales,57000.0,5,31,6,80,2019,Master,F,2016-07-25,5
13,14,Marketing,70000.0,8,37,8,94,2017,Bachelor,M,2014-03-08,7
14,15,HR,55000.0,2,25,5,70,2021,Master,F,2018-09-11,3
15,16,Engineering,48000.0,7,34,8,90,2015,Bachelor,F,2012-10-28,9
16,17,IT,40000.0,4,28,6,65,2023,Master,M,2020-06-05,1
17,18,Sales,80000.0,6,30,7,85,2018,Bachelor,M,2015-06-15,6
18,19,Marketing,52000.0,10,40,9,95,2015,Master,M,2010-02-10,9
19,20,HR,57000.0,2,28,6,70,2020,Bachelor,F,2019-04-23,4
20,21,IT,72000.0,3,25,5,60,2011,Bachelor,M,2018-07-18,13
21,22,Engineering,42000.0,6,33,7,88,2019,Master,M,2016-10-03,5
22,23,Marketing,90000.0,7,38,8,92,2016,Bachelor,F,2013-05-14,8
23,24,Sales,55000.0,4,29,6,75,2021,Bachelor,M,2018-06-22,3
24,25,IT,60000.0,2,26,5,62,2022,Master,F,2019-11-07,2
25,26,HR,75000.0,1,24,4,68,2023,Bachelor,F,2020-08-30,1
26,27,Engineering,45000.0,4,29,6,72,2023,Master,M,2020-11-14,1
27,28,Marketing,50000.0,5,34,7,80,2019,Bachelor,F,2018-10-08,5
29,30,IT,70000.0,1,24,4,60,2023,Master,F,2020-02-18,1
30,31,HR,55000.0,1,23,3,55,2024,Bachelor,M,2021-06-25,0
31,32,Engineering,48000.0,6,32,7,85,2018,Master,M,2017-12-12,6
32,33,IT,40000.0,3,27,5,62,2020,Bachelor,M,2018-04-19,4
33,34,Sales,78000.0,5,31,6,80,2019,Master,F,2016-07-25,5
35,36,HR,48000.0,2,25,5,70,2021,Master,F,2018-09-11,3
36,37,Engineering,42000.0,7,34,8,90,2015,Bachelor,F,2012-10-28,9
37,38,IT,35000.0,4,28,6,65,2023,Master,M,2020-05-06,1
38,39,Sales,82000.0,6,30,7,85,2018,Bachelor,M,2015-06-15,6
39,40,Marketing,53000.0,10,40,9,95,2015,Master,M,2010-02-10,9
40,41,HR,58000.0,2,28,6,70,2020,Bachelor,F,2019-04-23,4
42,43,Engineering,43000.0,6,33,7,88,2019,Master,M,2016-10-03,5
43,44,Marketing,88000.0,7,38,8,92,2016,Bachelor,F,2013-05-14,8
44,45,Sales,55000.0,4,29,6,75,2021,Bachelor,M,2018-06-22,3
45,46,IT,60000.0,2,26,5,62,2022,Master,F,2019-11-07,2
46,47,HR,75000.0,1,24,4,68,2023,Bachelor,F,2020-08-30,1